<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TraCuuTuyenSinh"
         connectionString="Data Source=.;Initial Catalog=TraCuuTuyenSinh;Integrated Security=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Tắt UnobtrusiveValidation để không cần jQuery ScriptResourceMapping -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="SiteName" value="Tra Cứu Tuyển Sinh" />
    <add key="SiteUrl"  value="http://localhost" />
    <!-- SMTP: điền thông tin email gửi thông báo -->
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUser" value="" />
    <add key="SmtpPass" value="" />
    <add key="SmtpFrom" value="" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="12288" enableVersionHeader="false" />

    <!-- FormsAuthentication -->
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx"
             defaultUrl="~/index.aspx"
             timeout="60"
             name=".TCTSAUTH"
             cookieless="UseCookies"
             enableCrossAppRedirects="false" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>

    <sessionState timeout="60" mode="InProc" />
    <globalization culture="vi-VN" uiCulture="vi-VN"
                  fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages validateRequest="false" enableViewStateMac="true" viewStateEncryptionMode="Auto" />

    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx">
      <error statusCode="403" redirect="~/Error.aspx?code=403" />
      <error statusCode="404" redirect="~/Error.aspx?code=404" />
    </customErrors>

    <httpCookies httpOnlyCookies="true" requireSSL="false" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <!-- 12 MB tính bằng bytes -->
        <requestLimits maxAllowedContentLength="12582912" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options"        value="SAMEORIGIN" />
        <add name="X-XSS-Protection"       value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!-- Cho phép mọi user truy cập thư mục ảnh tĩnh -->
  <location path="Resources">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
