USE [TraCuuTuyenSinh]
GO
/****** Object:  StoredProcedure [dbo].[sp_Admin_TinTuyenSinh_TimKiem]    Script Date: 5/3/2026 1:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [dbo].[sp_Admin_TinTuyenSinh_TimKiem]
    @MaTruong       INT            = NULL,
    @MaChuyenNganh  INT            = NULL,
    @NamTuyenSinh   SMALLINT       = NULL,
    @TrangThai      BIT            = NULL,   -- NULL=táº¥t cáº£, 1=Hiá»‡n, 0=áº¨n
    @PageIndex      INT            = 0,
    @PageSize       INT            = 20,
    @TongSo         INT            OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    SELECT @TongSo = COUNT(*)
    FROM   [dbo].[tbl_TinTuyenSinh] t
    WHERE  (@MaTruong      IS NULL OR t.MaTruong      = @MaTruong)
      AND  (@MaChuyenNganh IS NULL OR t.MaChuyenNganh = @MaChuyenNganh)
      AND  (@NamTuyenSinh  IS NULL OR t.NamTuyenSinh  = @NamTuyenSinh)
      AND  (@TrangThai     IS NULL OR t.TrangThai      = @TrangThai)

    SELECT
        t.MaTin,
        tr.TenTruong,
        cn.TenChuyenNganh,
        pt.TenPhuongThuc,
        t.NamTuyenSinh,
        t.DiemChuanNamTruoc,
        t.ChiTieu,
        t.TrangThai
    FROM   [dbo].[tbl_TinTuyenSinh]       t
    JOIN   [dbo].[tbl_Truong]              tr ON tr.MaTruong      = t.MaTruong
    JOIN   [dbo].[tbl_ChuyenNganh]        cn ON cn.MaChuyenNganh  = t.MaChuyenNganh
    JOIN   [dbo].[tbl_PhuongThucXetTuyen] pt ON pt.MaPhuongThuc   = t.MaPhuongThuc
    WHERE  (@MaTruong      IS NULL OR t.MaTruong      = @MaTruong)
      AND  (@MaChuyenNganh IS NULL OR t.MaChuyenNganh = @MaChuyenNganh)
      AND  (@NamTuyenSinh  IS NULL OR t.NamTuyenSinh  = @NamTuyenSinh)
      AND  (@TrangThai     IS NULL OR t.TrangThai      = @TrangThai)
    ORDER BY t.NamTuyenSinh DESC, t.DiemChuanNamTruoc DESC
    OFFSET (@PageIndex * @PageSize) ROWS
    FETCH NEXT @PageSize ROWS ONLY
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GopY_TuVan_Them]    Script Date: 5/3/2026 1:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
-- ─── sp_GopY_TuVan_Them ───────────────────────────────────
-- Dùng cho: form liên hệ trường + form góp ý
-- ───────────────────────────────────────────────────────────
CREATE PROCEDURE [dbo].[sp_GopY_TuVan_Them]
    @Loai           NVARCHAR(10),      -- 'TUVAN' hoặc 'GOPY'
    @MaTaiKhoan     INT            = NULL,
    @MaTruong       INT            = NULL,
    @HoTen          NVARCHAR(100)  = NULL,
    @Email          NVARCHAR(100)  = NULL,
    @SoDienThoai    NVARCHAR(20)   = NULL,
    @NoiDung        NVARCHAR(MAX)  = NULL,
    @LoaiGopY       TINYINT        = NULL,
    @IDMoi          INT            OUTPUT
AS
BEGIN
    SET NOCOUNT ON
    IF @Loai = 'TUVAN'
    BEGIN
        INSERT INTO tbl_TuVan (MaTaiKhoan, MaTruong, HoTen, Email, SoDienThoai, NoiDung)
        VALUES (@MaTaiKhoan, @MaTruong, @HoTen, @Email, @SoDienThoai, @NoiDung)
        SET @IDMoi = SCOPE_IDENTITY()
    END
    ELSE IF @Loai = 'GOPY'
    BEGIN
        INSERT INTO tbl_GopY (MaTaiKhoan, MaTruong, LoaiGopY, NoiDung)
        VALUES (@MaTaiKhoan, @MaTruong, @LoaiGopY, @NoiDung)
        SET @IDMoi = SCOPE_IDENTITY()
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GopYTuVan_CapNhatTrangThai]    Script Date: 5/3/2026 1:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
-- ─── sp_GopYTuVan_CapNhatTrangThai (Admin) ────────────────
CREATE PROCEDURE [dbo].[sp_GopYTuVan_CapNhatTrangThai]
    @Loai       NVARCHAR(10),
    @ID         INT,
    @TrangThai  TINYINT,
    @GhiChu     NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON
    IF @Loai = 'TUVAN'
        UPDATE tbl_TuVan
        SET    TrangThai = @TrangThai, GhiChuAdmin = @GhiChu,
               NgayPhanHoi = CASE WHEN @TrangThai = 1 THEN GETDATE() ELSE NgayPhanHoi END
        WHERE  ID = @ID
    ELSE IF @Loai = 'GOPY'
        UPDATE tbl_GopY SET TrangThai = @TrangThai WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GopYTuVan_DanhSach]    Script Date: 5/3/2026 1:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
-- ─── sp_GopYTuVan_DanhSach (Admin) ────────────────────────
-- Dùng cho: GridView quản lý góp ý / tư vấn trong Admin panel
-- ───────────────────────────────────────────────────────────
CREATE PROCEDURE [dbo].[sp_GopYTuVan_DanhSach]
    @Loai       NVARCHAR(10),          -- 'TUVAN' hoặc 'GOPY'
    @TrangThai  TINYINT       = NULL,
    @MaTruong   INT           = NULL,
    @PageIndex  INT           = 0,
    @PageSize   INT           = 20,
    @TongSo     INT           OUTPUT
AS
BEGIN
    SET NOCOUNT ON
    IF @Loai = 'TUVAN'
    BEGIN
        SELECT @TongSo = COUNT(*) FROM tbl_TuVan
        WHERE  (@TrangThai IS NULL OR TrangThai = @TrangThai)
          AND  (@MaTruong  IS NULL OR MaTruong  = @MaTruong)
 
        SELECT tv.*, tr.TenTruong
        FROM   tbl_TuVan tv
        JOIN   tbl_Truong tr ON tr.MaTruong = tv.MaTruong
        WHERE  (@TrangThai IS NULL OR tv.TrangThai = @TrangThai)
          AND  (@MaTruong  IS NULL OR tv.MaTruong  = @MaTruong)
        ORDER  BY tv.NgayGui DESC
        OFFSET (@PageIndex * @PageSize) ROWS
        FETCH  NEXT @PageSize ROWS ONLY
    END
    ELSE IF @Loai = 'GOPY'
    BEGIN
        SELECT @TongSo = COUNT(*) FROM tbl_GopY
        WHERE  (@TrangThai IS NULL OR TrangThai = @TrangThai)
          AND  (@MaTruong  IS NULL OR MaTruong  = @MaTruong)
 
        SELECT gy.*, tr.TenTruong
        FROM   tbl_GopY gy
        LEFT JOIN tbl_Truong tr ON tr.MaTruong = gy.MaTruong
        WHERE  (@TrangThai IS NULL OR gy.TrangThai = @TrangThai)
          AND  (@MaTruong  IS NULL OR gy.MaTruong  = @MaTruong)
        ORDER  BY gy.NgayGui DESC
        OFFSET (@PageIndex * @PageSize) ROWS
        FETCH  NEXT @PageSize ROWS ONLY
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HopThu_DanhDauDaDoc]    Script Date: 5/3/2026 1:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_HopThu_DanhDauDaDoc]
    @MaTuVan    INT,
    @MaTaiKhoan INT
AS
BEGIN
    SET NOCOUNT ON;
    -- Kiểm tra ownership trước
    IF NOT EXISTS(SELECT 1 FROM tbl_TuVan WHERE ID = @MaTuVan AND MaTaiKhoan = @MaTaiKhoan)
        RETURN;

    UPDATE tbl_TuVanPhanHoi
    SET DaDocBoiUser = 1
    WHERE MaTuVan = @MaTuVan
      AND LoaiNguoi != 'HocSinh';  -- chỉ đánh dấu reply từ phía khác
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HopThu_DanhSachByUser]    Script Date: 5/3/2026 1:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_HopThu_DanhSachByUser]
    @MaTaiKhoan INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        tv.ID,
        tv.MaTruong,
        tr.TenTruong,
        tv.NoiDung                              AS CauHoiGoc,
        tv.NgayGui,
        tv.TrangThai,
        tv.DaXoa,
        ISNULL(stats.SoLuot,  0)               AS SoLuotPhanHoi,
        stats.PhanHoiCuoi,
        ISNULL(stats.ChuaDoc, 0)               AS SoChuaDoc
    FROM tbl_TuVan tv
    LEFT JOIN tbl_Truong tr ON tr.MaTruong = tv.MaTruong
    OUTER APPLY (
        SELECT
            COUNT(*)                                                                         AS SoLuot,
            MAX(NgayPhanHoi)                                                                 AS PhanHoiCuoi,
            SUM(CASE WHEN DaDocBoiUser = 0 AND LoaiNguoi != 'HocSinh' THEN 1 ELSE 0 END)   AS ChuaDoc
        FROM tbl_TuVanPhanHoi
        WHERE MaTuVan = tv.ID
    ) stats
    WHERE tv.MaTaiKhoan = @MaTaiKhoan
    ORDER BY ISNULL(stats.PhanHoiCuoi, tv.NgayGui) DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HopThu_DemChuaDoc]    Script Date: 5/3/2026 1:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_HopThu_DemChuaDoc]
    @MaTaiKhoan INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT COUNT(*)
    FROM tbl_TuVanPhanHoi ph
    INNER JOIN tbl_TuVan tv ON tv.ID = ph.MaTuVan
    WHERE tv.MaTaiKhoan = @MaTaiKhoan
      AND ph.DaDocBoiUser = 0
      AND ph.LoaiNguoi != 'HocSinh'   -- chỉ đếm reply từ phía khác (Admin/System/...)
      AND tv.DaXoa = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaiKhoan_DangNhap]    Script Date: 5/3/2026 1:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_TaiKhoan_DangNhap]
    @Email     NVARCHAR(255),
    @MatKhau   NVARCHAR(MAX),
    @KetQua    TINYINT OUTPUT,    -- 0=OK, 1=SaiMK, 2=BiKhoa, 3=ChuaXN, 4=KhongTonTai
    @MaTaiKhoan INT OUTPUT,
    @MaQuyen   INT OUTPUT,
    @MaTruong  INT OUTPUT         -- NULL nếu không phải TruongHoc
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MaxSaiLan   INT = 5;
    DECLARE @KhoaPhutCount INT = 30;

    -- Mặc định
    SET @KetQua     = 4;  -- KhongTonTai
    SET @MaTaiKhoan = 0;
    SET @MaQuyen    = 0;
    SET @MaTruong   = NULL;

    -- Lấy thông tin tài khoản
    SELECT
        @MaTaiKhoan        = MaTaiKhoan,
        @MaQuyen           = MaQuyen,
        @MaTruong          = MaTruong
    FROM tbl_TaiKhoan
    WHERE Email = @Email;

    IF @MaTaiKhoan = 0 OR @MaTaiKhoan IS NULL
    BEGIN
        SET @KetQua = 4;  -- KhongTonTai
        RETURN;
    END

    -- Kiểm tra khóa tài khoản
    IF EXISTS (
        SELECT 1 FROM tbl_TaiKhoan
        WHERE MaTaiKhoan = @MaTaiKhoan
          AND KhoaTaiKhoanDen IS NOT NULL
          AND KhoaTaiKhoanDen > GETDATE()
    )
    BEGIN
        SET @KetQua = 2;  -- BiKhoa
        RETURN;
    END

    -- Kiểm tra email xác nhận
    IF NOT EXISTS (
        SELECT 1 FROM tbl_TaiKhoan
        WHERE MaTaiKhoan = @MaTaiKhoan AND EmailDaXacNhan = 1
    )
    BEGIN
        SET @KetQua = 3;  -- ChuaXacNhanEmail
        RETURN;
    END

    -- Kiểm tra trạng thái active
    IF NOT EXISTS (
        SELECT 1 FROM tbl_TaiKhoan
        WHERE MaTaiKhoan = @MaTaiKhoan AND TrangThai = 1
    )
    BEGIN
        SET @KetQua = 2;  -- BiKhoa (vô hiệu hóa)
        RETURN;
    END

    -- Verify mật khẩu — logic verify thực sự làm ở BLL (PBKDF2),
    -- SP chỉ nhận kết quả verify từ BLL truyền vào:
    -- Nếu BLL truyền đúng hash DB → MatKhau match → thành công
    -- Nếu BLL truyền hash giả → không match → tăng counter brute-force
    IF EXISTS (
        SELECT 1 FROM tbl_TaiKhoan
        WHERE MaTaiKhoan = @MaTaiKhoan AND MatKhau = @MatKhau
    )
    BEGIN
        -- Đăng nhập thành công — reset brute-force counter
        UPDATE tbl_TaiKhoan
        SET SoLanDangNhapSai = 0,
            KhoaTaiKhoanDen  = NULL,
            LanDangNhapCuoi  = GETDATE()
        WHERE MaTaiKhoan = @MaTaiKhoan;

        SET @KetQua = 0;  -- ThanhCong
    END
    ELSE
    BEGIN
        -- Sai mật khẩu — tăng counter, khóa nếu quá giới hạn
        DECLARE @SoLanSai INT;

        UPDATE tbl_TaiKhoan
        SET SoLanDangNhapSai = SoLanDangNhapSai + 1,
            KhoaTaiKhoanDen  = CASE
                WHEN SoLanDangNhapSai + 1 >= @MaxSaiLan
                THEN DATEADD(MINUTE, @KhoaPhutCount, GETDATE())
                ELSE NULL
            END
        WHERE MaTaiKhoan = @MaTaiKhoan;

        SELECT @SoLanSai = SoLanDangNhapSai FROM tbl_TaiKhoan WHERE MaTaiKhoan = @MaTaiKhoan;

        SET @KetQua = CASE WHEN @SoLanSai >= @MaxSaiLan THEN 2 ELSE 1 END;
        -- Reset output về 0 (không trả MaTaiKhoan khi sai MK)
        SET @MaTaiKhoan = 0;
        SET @MaQuyen    = 0;
        SET @MaTruong   = NULL;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaiKhoan_DatLaiMatKhau]    Script Date: 5/3/2026 1:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
-- ─── sp_TaiKhoan_DatLaiMatKhau ────────────────────────────
-- Dùng cho: ForgotPassword.aspx flow
--   Bước 1: tạo token  → @HanhDong = 'TAO_TOKEN'
--   Bước 2: đặt lại pw → @HanhDong = 'DAT_LAI'
-- ───────────────────────────────────────────────────────────
CREATE PROCEDURE [dbo].[sp_TaiKhoan_DatLaiMatKhau]
    @HanhDong   NVARCHAR(20),          -- 'TAO_TOKEN' hoặc 'DAT_LAI'
    @Email      NVARCHAR(100)  = NULL,
    @Token      NVARCHAR(100)  = NULL,
    @MatKhauMoi NVARCHAR(200)  = NULL,
    @KetQua     TINYINT OUTPUT          -- 0=OK, 1=Không tìm thấy, 2=Token hết hạn
AS
BEGIN
    SET NOCOUNT ON
 
    IF @HanhDong = 'TAO_TOKEN'
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM tbl_TaiKhoan WHERE Email = @Email)
        BEGIN SET @KetQua = 1 RETURN END
 
        UPDATE tbl_TaiKhoan
        SET    TokenDatLaiMatKhau = @Token,
               TokenHetHan        = DATEADD(HOUR, 2, GETDATE())
        WHERE  Email = @Email
        SET @KetQua = 0
    END
 
    ELSE IF @HanhDong = 'DAT_LAI'
    BEGIN
        IF NOT EXISTS (
            SELECT 1 FROM tbl_TaiKhoan
            WHERE  TokenDatLaiMatKhau = @Token AND TokenHetHan > GETDATE()
        )
        BEGIN SET @KetQua = 2 RETURN END
 
        UPDATE tbl_TaiKhoan
        SET    MatKhau            = @MatKhauMoi,
               TokenDatLaiMatKhau = NULL,
               TokenHetHan        = NULL,
               SoLanDangNhapSai   = 0,
               KhoaTaiKhoanDen    = NULL
        WHERE  TokenDatLaiMatKhau = @Token
        SET @KetQua = 0
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TinTuyenSinh_TimKiem]    Script Date: 5/3/2026 1:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_TinTuyenSinh_TimKiem]
    @MaTruong       INT            = NULL,
    @MaChuyenNganh  INT            = NULL,
    @MaPhuongThuc   INT            = NULL,
    @NamTuyenSinh   SMALLINT       = NULL,
    @DiemTu         DECIMAL(4,2)   = NULL,
    @DiemDen        DECIMAL(4,2)   = NULL,
    @TinhThanh      NVARCHAR(100)  = NULL,
    @PageIndex      INT            = 0,
    @PageSize       INT            = 20,
    @TongSo         INT            OUTPUT
AS
BEGIN
    SET NOCOUNT ON

    SELECT @TongSo = COUNT(*)
    FROM   [dbo].[tbl_TinTuyenSinh]  t
    JOIN   [dbo].[tbl_Truong]         tr ON tr.MaTruong      = t.MaTruong
    WHERE  t.TrangThai                = 1
      AND (@MaTruong      IS NULL OR t.MaTruong      = @MaTruong)
      AND (@MaChuyenNganh IS NULL OR t.MaChuyenNganh = @MaChuyenNganh)
      AND (@MaPhuongThuc  IS NULL OR t.MaPhuongThuc  = @MaPhuongThuc)
      AND (@NamTuyenSinh  IS NULL OR t.NamTuyenSinh  = @NamTuyenSinh)
      AND (@DiemTu        IS NULL OR t.DiemChuanNamTruoc >= @DiemTu)
      AND (@DiemDen       IS NULL OR t.DiemChuanNamTruoc <= @DiemDen)
      AND (@TinhThanh     IS NULL OR tr.TinhThanh    = @TinhThanh)

    SELECT
        t.MaTin,
        tr.TenTruong,
        tr.TinhThanh,
        tr.AnhDaiDien,
        tr.Slug          AS TruongSlug,
        cn.TenChuyenNganh,
        pt.TenPhuongThuc,
        t.NamTuyenSinh,
        t.ChiTieu,
        t.HocPhi,
        t.ToHopMonHoc,
        t.DiemChuanNamTruoc,
        t.DiemChuanNamNay,
        t.ChenhLechDiem,
        t.TrangThai                  -- â† thÃªm cá»™t nÃ y
    FROM   [dbo].[tbl_TinTuyenSinh]       t
    JOIN   [dbo].[tbl_Truong]              tr ON tr.MaTruong      = t.MaTruong
    JOIN   [dbo].[tbl_ChuyenNganh]        cn ON cn.MaChuyenNganh  = t.MaChuyenNganh
    JOIN   [dbo].[tbl_PhuongThucXetTuyen] pt ON pt.MaPhuongThuc   = t.MaPhuongThuc
    WHERE  t.TrangThai = 1
      AND (@MaTruong      IS NULL OR t.MaTruong      = @MaTruong)
      AND (@MaChuyenNganh IS NULL OR t.MaChuyenNganh = @MaChuyenNganh)
      AND (@MaPhuongThuc  IS NULL OR t.MaPhuongThuc  = @MaPhuongThuc)
      AND (@NamTuyenSinh  IS NULL OR t.NamTuyenSinh  = @NamTuyenSinh)
      AND (@DiemTu        IS NULL OR t.DiemChuanNamTruoc >= @DiemTu)
      AND (@DiemDen       IS NULL OR t.DiemChuanNamTruoc <= @DiemDen)
      AND (@TinhThanh     IS NULL OR tr.TinhThanh    = @TinhThanh)
    ORDER BY t.NamTuyenSinh DESC, t.DiemChuanNamTruoc DESC
    OFFSET (@PageIndex * @PageSize) ROWS
    FETCH NEXT @PageSize ROWS ONLY
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Truong_LayChiTiet]    Script Date: 5/3/2026 1:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ─── sp_Truong_LayChiTiet ──────────────────────────────────
-- Dùng cho: trang chi tiết trường (ChiTietTruong.aspx)
-- Thêm filter TrangThai=1 để ẩn trường đã bị disabled
-- ───────────────────────────────────────────────────────────
CREATE PROCEDURE [dbo].[sp_Truong_LayChiTiet]
    @MaTruong INT = NULL,
    @Slug     NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        tr.*,
        (SELECT AVG(CAST(DiemDanhGia AS FLOAT))
         FROM tbl_DanhGiaTruong WHERE MaTruong = tr.MaTruong AND TrangThai = 1) AS DiemDanhGiaTB,
        (SELECT COUNT(*)
         FROM tbl_DanhGiaTruong WHERE MaTruong = tr.MaTruong AND TrangThai = 1) AS SoLuongDanhGia
    FROM [dbo].[tbl_Truong] tr
    WHERE tr.TrangThai = 1                              -- chỉ hiện trường đang active
      AND (@MaTruong IS NULL OR tr.MaTruong = @MaTruong)
      AND (@Slug     IS NULL OR tr.Slug     = @Slug);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Truong_TimKiem]    Script Date: 5/3/2026 1:35:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Truong_TimKiem]
        @TenTruong          NVARCHAR(200)   = NULL,
        @TinhThanh          NVARCHAR(100)   = NULL,
        @MaVung             TINYINT         = NULL,
        @LoaiTruong         TINYINT         = NULL,
        @MaChuyenNganh      INT             = NULL,
        @Nam                SMALLINT        = NULL,
        @DiemMin            DECIMAL(4,2)    = NULL,
        @DiemMax            DECIMAL(4,2)    = NULL,
        @TrangThai          BIT             = NULL,
        @SortBy             NVARCHAR(50)    = N'TenTruong',
        @SortDirection      NVARCHAR(4)     = N'ASC',
        @PageIndex          INT             = 0,
        @PageSize           INT             = 12,
        @CapBacDaoTao       TINYINT         = NULL,         -- NULL=tất cả | 1=Đại học | 2=Cao Đẳng | 3=Trường nghề
        @TongSo             INT             OUTPUT
AS
BEGIN
        SET NOCOUNT ON;

        -- Đếm tổng
        SELECT @TongSo = COUNT(DISTINCT t.MaTruong)
        FROM tbl_Truong t
        WHERE
                (
                    @TenTruong IS NULL
                    OR t.TenTruong COLLATE Vietnamese_CI_AI LIKE N'%' + @TenTruong + N'%'
                )
                AND ( @TinhThanh         IS NULL OR t.TinhThanh         = @TinhThanh )
                AND ( @MaVung            IS NULL OR t.MaVung             = @MaVung )
                AND ( @LoaiTruong        IS NULL OR t.LoaiTruong         = @LoaiTruong )
                AND ( @CapBacDaoTao      IS NULL OR t.CapBacDaoTao       = @CapBacDaoTao )
                AND ( @TrangThai         IS NULL OR t.TrangThai          = @TrangThai )
                AND ( @MaChuyenNganh     IS NULL OR EXISTS (
                                SELECT 1 FROM tbl_TruongChuyenNganh tcn
                                WHERE tcn.MaTruong = t.MaTruong AND tcn.MaChuyenNganh = @MaChuyenNganh
                ) )
                AND (
                        @DiemMin IS NULL AND @DiemMax IS NULL
                        OR EXISTS (
                                SELECT 1 FROM tbl_TinTuyenSinh ts
                                WHERE ts.MaTruong = t.MaTruong
                                        AND ts.TrangThai = 1
                                        AND ts.DiemChuanNamTruoc IS NOT NULL
                                        AND ( @Nam     IS NULL OR ts.NamTuyenSinh         = @Nam )
                                        AND ( @DiemMin IS NULL OR ts.DiemChuanNamTruoc >= @DiemMin )
                                        AND ( @DiemMax IS NULL OR ts.DiemChuanNamTruoc <= @DiemMax )
                        )
                );

        -- Lấy dữ liệu phân trang với sorting
        -- FIX N+1: Bổ sung CapBacDaoTao + TenCapBacDaoTao vào SELECT
        --          → TruongDAL không phải gọi DB riêng từng row nữa.
        SELECT
                t.MaTruong,
                t.TenTruong,
                t.Website,
                t.TinhThanh,
                t.QuyMo,
                t.KiemDinhChatLuong,
                t.Slug,
                t.AnhDaiDien,
                t.LoaiTruong,
                t.MaVung,
                t.TrangThai,
                t.ThoiGianCapNhat,
                -- HAI CỘT MỚI — loại bỏ N+1 query trong EnsureCapBacDaoTao()
                t.CapBacDaoTao,
                CASE t.CapBacDaoTao
                        WHEN 1 THEN N'Đại học'
                        WHEN 2 THEN N'Cao Đẳng'
                        WHEN 3 THEN N'Trường nghề'
                        ELSE N''
                END AS TenCapBacDaoTao
        FROM tbl_Truong t
        WHERE
                (
                    @TenTruong IS NULL
                    OR t.TenTruong COLLATE Vietnamese_CI_AI LIKE N'%' + @TenTruong + N'%'
                )
                AND ( @TinhThanh         IS NULL OR t.TinhThanh         = @TinhThanh )
                AND ( @MaVung            IS NULL OR t.MaVung             = @MaVung )
                AND ( @LoaiTruong        IS NULL OR t.LoaiTruong         = @LoaiTruong )
                AND ( @CapBacDaoTao      IS NULL OR t.CapBacDaoTao       = @CapBacDaoTao )
                AND ( @TrangThai         IS NULL OR t.TrangThai          = @TrangThai )
                AND ( @MaChuyenNganh     IS NULL OR EXISTS (
                                SELECT 1 FROM tbl_TruongChuyenNganh tcn
                                WHERE tcn.MaTruong = t.MaTruong AND tcn.MaChuyenNganh = @MaChuyenNganh
                ) )
                AND (
                        @DiemMin IS NULL AND @DiemMax IS NULL
                        OR EXISTS (
                                SELECT 1 FROM tbl_TinTuyenSinh ts
                                WHERE ts.MaTruong = t.MaTruong
                                        AND ts.TrangThai = 1
                                        AND ts.DiemChuanNamTruoc IS NOT NULL
                                        AND ( @Nam     IS NULL OR ts.NamTuyenSinh         = @Nam )
                                        AND ( @DiemMin IS NULL OR ts.DiemChuanNamTruoc >= @DiemMin )
                                        AND ( @DiemMax IS NULL OR ts.DiemChuanNamTruoc <= @DiemMax )
                        )
                )
        ORDER BY
                CASE WHEN @SortBy = N'TenTruong'   AND @SortDirection = N'ASC'  THEN t.TenTruong   END ASC,
                CASE WHEN @SortBy = N'TenTruong'   AND @SortDirection = N'DESC' THEN t.TenTruong   END DESC,
                CASE WHEN @SortBy = N'TinhThanh'   AND @SortDirection = N'ASC'  THEN t.TinhThanh   END ASC,
                CASE WHEN @SortBy = N'TinhThanh'   AND @SortDirection = N'DESC' THEN t.TinhThanh   END DESC,
                t.TenTruong   -- default
        OFFSET ( @PageIndex * @PageSize ) ROWS
        FETCH NEXT @PageSize ROWS ONLY;
END
GO
